@font-face {
  font-family: "DotGothic16";
  src: url("assets/Fonts/DotGothic16-Regular.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 18px "DotGothic16";
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#game__board {
  margin: 80px auto;
  display: block;
}

#root {
  min-height: 700px;
  height: 100vh;
  background: #26031e;
}
