.github__icon {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: auto;
  align-items: flex-end;
}

.rsschool__icon {
  width: 80px;
  height: 40px;
  margin-left: 10px;
}
