.loader {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border-top: 2px solid black;
  border-left: 2px solid rgb(219, 9, 58);
  border-bottom: 2px solid rgb(219, 9, 58);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
